<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!-- IMPORTANT: for the mongo connection string, there is an ampersand. replace the ampersand character with  &amp; -->
	<!-- the final connection string should resemble this:
	mongodb://YourCosmosAccount:YourCosmosKey==@YourCosmosAccount.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb"
	-->
	
	
    <add key="ConnectionString" value="YOUR_COSMOS_CONNECTIONSTRING" />
    <!--replace the following value with your database name-->
    <add key="databaseId" value="YOUR_COSMOS_DATABASE_NAME" />

    <!--replace the following value with your collection name-->
    <add key="collectionId" value="YOUR_COSMOS_COLLECTION_NAME" />
  </appSettings>
</configuration>